<vex-page-layout>
    <vex-page-layout-header class="flex flex-col items-start justify-center">
        <vex-breadcrumbs [crumbs]="['Menu', 'Warehouse']"></vex-breadcrumbs>
    </vex-page-layout-header>
  
    <vex-page-layout-content class="-mt-6 px-6">
      <mat-tab-group>
        <mat-tab label="Beverage">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Food">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Tools">
          <div class="p-6">
            <vex-page-layout-demo></vex-page-layout-demo>
          </div>
        </mat-tab>
        <mat-tab label="Extra">
            <div class="p-6">
              <vex-page-layout-demo></vex-page-layout-demo>
            </div>
          </mat-tab>          
      </mat-tab-group>
    </vex-page-layout-content>
  </vex-page-layout>