<vex-page-layout mode="simple">
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <vex-breadcrumbs [crumbs]="['Menu', 'Contacts']"></vex-breadcrumbs>
  </vex-page-layout-header>
  
    <vex-page-layout-content class="-mt-6 px-6">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">         
  
          <mat-form-field subscriptSizing="dynamic">
            <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
            <input
              matInput
              [formControl]="searchCtrl"
              placeholder="Search&hellip;"
              type="text" />
          </mat-form-field>
  
          <span class="flex-1"></span>            
  
          <button
            (click)="createContact()"
            class="ml-4 flex-none"
            color="primary"
            mat-mini-fab
            matTooltip="Add Contact"
            type="button">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>
  
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort>
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
            
          <!-- Text Columns -->
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container
              *ngIf="column.type === 'text'"
              [matColumnDef]="column.property">
              <th
                *matHeaderCellDef
                class="uppercase"
                mat-header-cell
                mat-sort-header>
                {{ column.label }}
              </th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                {{ row[column.property] }}
              </td>
            </ng-container>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ contact: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr
            (click)="updateContact(row)"
            *matRowDef="let row; columns: visibleColumns"
            @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
            mat-row></tr>
        </table>
  
        <mat-paginator
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize"
          class="sticky left-0"></mat-paginator>
    </vex-page-layout-content>
  </vex-page-layout>
  
  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-contact="contact" matMenuContent>
      <button (click)="updateContact(contact)" mat-menu-item>
        <mat-icon svgIcon="mat:edit"></mat-icon>
        <span>Edit</span>
      </button>
      <button (click)="deleteContact(contact)" mat-menu-item>
        <mat-icon svgIcon="mat:delete"></mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>
  