<form (ngSubmit)="save()" [formGroup]="form">
    <div class="flex items-center" mat-dialog-title>
        <h2 class="headline m-0 flex-auto">{{ this.user.username }}</h2>
    </div>

    <mat-divider class="text-border"></mat-divider>

    <mat-dialog-content class="flex flex-col">
        <div class="flex flex-col sm:flex-row">            
            <mat-form-field class="flex-auto">
                <mat-label>New Password</mat-label>
                <input
                  [type]="inputType"
                  formControlName="newPassword"
                  matInput
                  required />
                <button
                  (click)="toggleVisibility()"
                  mat-icon-button
                  matIconSuffix
                  matTooltip="Toggle Visibility"
                  type="button">
                  <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                  <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                </button>                
                <mat-error *ngIf="form.controls.newPassword.hasError('required')"
                >Specificare una nuova password
                </mat-error>
              </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button color="primary" mat-flat-button type="submit">Change Password</button>
    </mat-dialog-actions>
</form>